/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-size: 18px;
}

.bem_vindo {
    font-weight: bold;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-height: 100px;
    
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 20px;
}

.paragrafo {
    text-indent: 2em;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Layout com Flexbox */
#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 330px;
    box-sizing: border-box;
    background-color: rgb(240, 216, 207);
    border-radius: 10px;
}

.produto .text-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.produto form {
    margin: 0;
}

.produto .btn {
    margin: 5px;
}

/* Estilos de Imagem */
.imagem-catalogo, .imagem-produto {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.imagem-carrinho {
    width: 50px;
    height: 50px;
}

.imagem-produto {
    width: 400px;
    height: 400px;
}

/* Estilos de Botão */
.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Alinhamento de Texto */
.text-center {
    text-align: center;
}

/* Estilos de Alerta */
.alert {
    width: 1100px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.badge-success, .badge-danger {
    
    font-size: large;
}

/* Estilos de Formulário */
.form-group {
    margin-bottom: 15px;
    position: relative;
}

.needs-validation .was-validated .form-control:invalid,
.needs-validation .was-validated .form-control:valid {
    border-color: #ced4da;
}

.needs-validation .was-validated .form-control:invalid:focus,
.needs-validation .was-validated .form-control:valid:focus {
    box-shadow: none;
}

/* Estilos de Container */
.container {
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(250,236,227,0.75);
    backdrop-filter: blur(10px);
}

.centered-form {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(250,236,227,0.75);
}

.login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(250,236,227,0.75);
}

/* Estilos de Tabela */
.table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    background-color: white
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
    position: relative;
    ;
}

.table-responsive thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

thead {
    background-color: #d1d1d1;
    text-align: center;
}

tbody {
    background-color: rgb(250,236,227,0.75);
    text-align: center;
}

th, td {
    padding: 0.75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: center;
}

/* Container de Senha */
.password-container {
    position: relative;
}

.password-container .btn-show-pass {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(10%);
    cursor: pointer;
}

/* Avaliação com Estrelas */
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #f2b600;
}

.fa-star {
    color: #f2b600;
}

/* Opções de Pagamento */
.pagamento-opcoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pagamento-opcao {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pagamento-opcao input[type="radio"] {
    position: absolute;
    top: 10px;
    left: 10px;
}

.pagamento-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagamento-detalhes span {
    margin-top: 10px;
}