{% extends "base.html" %}

{% block title %}Área do Cliente{% endblock %}
{% block content %}
<div class="centered-form">
<h2>Informações do Usuário</h2>
<p>Nome: {{ usuario.nome }}</p>
<p>Email: {{ usuario.email }}</p>
<p>Data de Nascimento: {{ usuario.data_nascimento }}</p>
<p>Endereço de Entrega: {{ usuario.endereco_entrega }}</p>
<a href="{{ url_for('editar_usuario') }}" class="btn btn-primary">Editar Informações</a>

<h2>Pedidos</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Código do Pedido</th>
            <th>Data</th>
            <th>Total</th>
            <th>Quantidade de Itens</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.data_compra }}</td>
            <td>R$ {{ '%.2f'|format(pedido.preco_total) }}</td>
            <td>{{ pedido.quantidade }}</td>
            <td>
                <a href="{{ url_for('detalhes_pedido', pedido_id=pedido.id) }}" class="btn btn-secondary">Ver Detalhes</a>
                <a href="{{ url_for('devolucao', pedido_id=pedido.id) }}" class="btn btn-danger">Solicitar Devolução</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Avaliações</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Nota</th>
            <th>Comentário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for avaliacao in avaliacoes %}
        <tr>
            <td>{{ avaliacao.produto.nome }}</td>
            <td>{{ avaliacao.nota }}</td>
            <td>{{ avaliacao.comentario }}</td>
            <td>
                <a href="{{ url_for('editar_avaliacao', avaliacao_id=avaliacao.id) }}" class="btn btn-primary">Editar</a>
                <form action="{{ url_for('excluir_avaliacao', avaliacao_id=avaliacao.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
