{% extends "base.html" %}

{% block title %}Área do Cliente{% endblock %}

{% block content %}
<h1>Área do Cliente</h1>
<h2>Informações do Usuário</h2>
<p>Nome: {{ usuario.nome }}</p>
<p>Email: {{ usuario.email }}</p>
<p>Data de Nascimento: {{ usuario.data_nascimento }}</p>
<p>Endereço de Entrega: {{ usuario.endereco_entrega }}</p>
<a href="{{ url_for('editar_usuario') }}" class="btn btn-primary">Editar Informações</a>

<h2>Pedidos</h2>
<ul>
    {% for pedido in pedidos %}
    <li>Pedido ID: {{ pedido.id }}, Data: {{ pedido.data_compra }}, Total: R$ {{ pedido.preco_total }}</li>
    {% endfor %}
</ul>

<h2>Avaliações</h2>
<ul>
    {% for avaliacao in avaliacoes %}
    <li>Produto ID: {{ avaliacao.id_produto }}, Nota: {{ avaliacao.nota }}, Comentário: {{ avaliacao.comentario }}</li>
    {% endfor %}
</ul>
{% endblock %}