<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-left">
                {% if session.get('user_name') %}
                <span class="bem_vindo">Bem-vindo, {{ session.get('user_name') }}!</span>
                {% endif %}
            </div>
            <div class="col text-right">
                <a href="{{ url_for('catalogo') }}" class="btn btn-link">
                    <i class="fas fa-home"></i> Home
                </a>
                {% if session.get('user_id') == 'admin@admin.com' %}
                <a href="{{ url_for('gerenciar_sistema') }}" class="btn btn-link">
                    <i class="fas fa-cogs"></i> Gerenciar Sistema
                </a>
                {% endif %}
                {% if session.get('user_name') %}
                <a href="{{ url_for('area_cliente') }}" class="btn btn-link">
                    <i class="fas fa-user"></i> Área do Cliente
                </a>
                <a href="{{ url_for('logout') }}" class="btn btn-link">
                    <i class="fas fa-sign-out-alt"></i> Sair
                </a>
                {% else %}
                <a href="{{ url_for('index') }}" class="btn btn-link">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
                {% endif %}
            </div>
        </div>
    
        {% block content %}{% endblock %}
    
    <a href="{{ url_for('feedback') }}">Enviar Feedback</a>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>