{% extends "base.html" %}

{% block title %}Carrinho{% endblock %}

{% block content %}
<div class="centered-form">
    <h1>Carrinho de Compras</h1>
    <table class="table">
        <thead>
            <tr class="table td">
                <th></th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in produtos %}
            <tr>
                <td><img src="{{ item.imagem }}" alt="{{ item.nome }}" class="produto-imagem"></td>
                <td>{{ item.nome }}</td>
                <td>
                    <input type="number" name="quantidade" value="{{ item.quantidade }}" min="1" data-produto-id="{{ item.id }}" class="quantidade-input">
                </td>
                <td>R$ {{ item.preco }}</td>
                <td>R$ {{ '%.2f'|format(item.subtotal) }}</td>
                <td>
                    <form action="/remover_item" method="post">
                        <input type="hidden" name="produto_id" value="{{ item.id }}">
                        <button type="submit" class="btn btn-primary">Remover</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total: R$ {{ '%.2f'|format(total) }}</h2>
    <a href="{{ url_for('finalizar_compra') }}" class="btn btn-primary">Finalizar Compra</a>
    <a href="{{ url_for('limpar_carrinho') }}" class="btn btn-secondary">Limpar Carrinho</a>
    <a href="{{ url_for('catalogo') }}" class="btn btn-secondary">Continuar Comprando</a>
</div>
{% endblock %}