<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Carrinho de Compras</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in produtos %}
            <tr>
                <td><img src="{{ item.imagem }}" alt="{{ item.nome }}" style="width: 50px; height: 50px;"></td>
                <td>{{ item.nome }}</td>
                <td>
                    <input type="number" name="quantidade" value="{{ item.quantidade }}" min="1" data-produto-id="{{ item.id }}" class="quantidade-input">
                </td>
                <td>R$ {{ item.preco }}</td>
                <td>R$ {{ '%.2f'|format(item.subtotal) }}</td>
                <td>
                    <form action="/remover_item" method="post">
                        <input type="hidden" name="produto_id" value="{{ item.id }}">
                        <button type="submit" class="btn">Remover</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total: R$ {{ '%.2f'|format(total) }}</h2>
    </form>
    
    <a href="{{ url_for('catalogo') }}" class="btn">Continuar Comprando </a>
    <a href="{{ url_for('limpar_carrinho') }}" class="btn">Limpar Carrinho</a>
    <a href="{{ url_for('finalizar_compra') }}" class="btn">Finalizar Compra</a>
    </a>

    <script>
        $(document).ready(function() {
            $('.quantidade-input').on('change', function() {
                var produtoId = $(this).data('produto-id');
                var quantidade = $(this).val();

                $.ajax({
                    url: '/atualizar_quantidade',
                    method: 'POST',
                    data: {
                        produto_id: produtoId,
                        quantidade: quantidade
                    },
                    success: function(response) {
                        location.reload();
                    }
                });
            });
        });
    </script>
</body>
</html>