{% extends "base.html" %}

{% block title %}Catálogo de Produtos{% endblock %}

{% block content %}
<h1>Catálogo de Produtos</h1>
<div>
    <a href="{{ url_for('ver_carrinho') }}" class="btn-ver-carrinho">
        <i class="fas fa-shopping-cart"></i> Ver Carrinho
    </a>
</div>

<!-- Formulário de Busca -->
<form method="GET" action="/catalogo">
    <input name="search" placeholder="Buscar por nome">
    <button type="submit" class="btn btn-primary">Buscar</button>
    
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="alert alert-info">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div id="produtos">
    {% for produto in produtos %}
    <div class="produto">
        <h2>{{ produto.nome }}</h2>
        <p>{{ produto.descricao }}</p>
        <p>Preço: {{ produto.preco }}</p>
        <img src="{{ produto.imagem }}" alt="{{ produto.nome }}">
        
        <form action="{{ url_for('adicionar_ao_carrinho') }}" method="post">
            <input type="hidden" name="produto_id" value="{{ produto.id }}">

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
    
        </form><br>
            <a href="{{ url_for('ver_produto', produto_id=produto.id) }}" class="btn btn-secondary">Ver Detalhes</a>
        
        </div>

    </div>
    {% endfor %}
</div>

{% if mensagem %}
<div class="alert alert-info">
    {{ mensagem }}
</div>
 {% endif %}


 

 
{% endblock %}
