{% extends "base.html" %}

{% block title %}Detalhes do Pedido{% endblock %}

{% block content %}
<h2>Detalhes do Pedido</h2>
<p><strong>Código do Pedido:</strong> {{ pedido.id }}</p>
<p><strong>Data da Compra:</strong> {{ pedido.data_compra }}</p>
<p><strong>Endereço de Entrega:</strong> {{ pedido.endereco_entrega }}</p>
<p><strong>Forma de Pagamento:</strong> {{ pedido.forma_pagamento }}</p>
<p><strong>Valor Total:</strong> R$ {{ '%.2f'|format(pedido.preco_total) }}</p>

<h2>Itens do Pedido</h2>
<table class="table">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Subtotal</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in itens %}
        <tr>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ '%.2f'|format(item.preco_unitario) }}</td>
            <td>R$ {{ '%.2f'|format(item.preco_unitario * item.quantidade) }}</td>
            <td>
                <a href="{{ url_for('avaliar_produto', produto_id=item.produto.id) }}" class="btn btn-primary">Avaliar Produto</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
