{% extends "base.html" %}

{% block title %}Solicitar Devolução{% endblock %}

{% block content %}

    <div class="centered-form">
        <h2>Solicitar Devolução</h2>
        <form action="{{ url_for('devolucao') }}" method="post">
            <div class="form-group">
                <label for="numero_pedido">Número do Pedido:</label>
                <input type="text" id="numero_pedido" name="numero_pedido" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="motivo">Motivo da Devolução:</label>
                <textarea id="motivo" name="motivo" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="contato">Informações de Contato:</label>
                <input type="text" id="contato" name="contato" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Solicitar Devolução</button>
        </form>
    </div>

{% endblock %}