{% extends "base.html" %}

{% block title %}Gerenciar Sistema{% endblock %}

{% block content %}
<div class="centered-form">
<h1>Gerenciar Sistema</h1>
<!-- Seção de Feedbacks -->

 <h2>Feedbacks</h2>
<form method="GET" action="{{ url_for('gerenciar_sistema') }}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search_feedback" placeholder="Buscar feedbacks" value="{{ request.args.get('search_feedback', '') }}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Comentário</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.nome }}</td>
                <td>{{ feedback.email }}</td>
                <td>{{ feedback.sugestao }}</td>
                <td>{{ feedback.data.strftime('%d/%m/%Y') if feedback.data else 'N/A' }}</td>
                <td class="text-center">
                    <form action="{{ url_for('gerenciar_sistema') }}" method="post" style="display:inline;">
                        <input type="hidden" name="feedback_id" value="{{ feedback.id }}">
                        <button type="submit" class="btn {{ 'btn-success' if feedback.respondido else 'btn-danger' }} w-100">
                            {{ 'Respondido' if feedback.respondido else 'Não respondido' }}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Seção de Devoluções -->
<h2>Devoluções</h2>
<form method="GET" action="{{ url_for('gerenciar_sistema') }}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search_devolucao" placeholder="Buscar devoluções" value="{{ request.args.get('search_devolucao', '') }}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Número do Pedido</th>
                <th>Motivo</th>
                <th>Contato</th>
                <th>Email do Usuário</th>
                <th>Data da Solicitação</th>
                <th>Resposta</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for devolucao in devolucoes %}
            <tr>
                <td>{{ devolucao.numero_pedido }}</td>
                <td>{{ devolucao.motivo }}</td>
                <td>{{ devolucao.contato }}</td>
                <td>{{ devolucao.email_usuario }}</td>
                <td>{{ devolucao.data_solicitacao.strftime('%d/%m/%Y') }}</td>
                <td>
                    <form action="{{ url_for('responder_devolucao', devolucao_id=devolucao.id) }}" method="post" style="display:inline;">
                        <input type="text" name="resposta" class="form-control" value="{{ devolucao.resposta }}">
                        <button type="submit" class="btn btn-primary mt-2">Enviar</button>
                    </form>
                </td>
                <td class="text-center">
                    <form action="{{ url_for('gerenciar_sistema') }}" method="post" style="display:inline;">
                        <input type="hidden" name="devolucao_id" value="{{ devolucao.id }}">
                        <button type="submit" class="btn {{ 'btn-success' if devolucao.respondido else 'btn-danger' }} w-100">
                            {{ 'Respondido' if devolucao.respondido else 'Não respondido' }}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Seção de Produtos -->
<h2>Listar Produtos</h2>

<form method="GET" action="{{ url_for('gerenciar_sistema') }}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search_produto" placeholder="Buscar produtos" value="{{ request.args.get('search_produto', '') }}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.tipo }}</td>
                <td class="text-center">
                    <a href="{{ url_for('editar_produto', produto_id=produto.id) }}" class="btn btn-primary w-100">Editar</a>
                    <button class="btn btn-danger w-100" onclick="excluirProduto('{{ produto.id }}')">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{{ url_for('cadastrar_produto') }}" class="btn btn-primary mb-4">Cadastrar Novo Produto</a>

<!-- Seção de Usuários -->
<h2>Listar Usuários</h2>
<form method="GET" action="{{ url_for('gerenciar_sistema') }}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search_usuario" placeholder="Buscar usuários" value="{{ request.args.get('search_usuario', '') }}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th>Endereço de Entrega</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.data_nascimento.strftime('%d/%m/%Y') if usuario.data_nascimento else 'N/A' }}</td>
                <td>{{ usuario.endereco_entrega }}</td>
                <td class="text-center">
                    <button class="btn btn-danger w-100" onclick="excluirUsuario('{{ usuario.email }}')">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<script>
function excluirProduto(produtoId) {
    if (confirm('Tem certeza que deseja excluir este produto?')) {
        fetch(`/excluir_produto/${produtoId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                alert('Erro ao excluir produto.');
            }
        })
        .catch(error => console.error('Erro:', error));
    }
}

function excluirUsuario(email) {
    if (confirm('Tem certeza que deseja excluir este usuário?')) {
        fetch(`/excluir_usuario`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: email })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                alert('Erro ao excluir usuário.');
            }
        })
        .catch(error => console.error('Erro:', error));
    }
}
</script>

{% endblock %}