{% extends "base.html" %}

{% block title %}Listar Produtos{% endblock %}

{% block content %}
<h1>Listar Produtos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.tipo }}</td>
            <td>
                <a href="{{ url_for('editar_produto', produto_id=produto.id) }}" class="btn btn-primary">Editar</a>
                <button type="submit" class="btn btn-danger">Excluir</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}