{% extends "base.html" %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}
<div class="centered-form">
<h2>Recuperar Senha</h2>
<form id="recuperarSenhaForm" action="/enviar_codigo" method="post">
    <label for="emailRecuperacao">E-mail:</label>
    <input type="email" id="emailRecuperacao" name="email" required value="{{ email }}" class="form-control"><br>
    <button type="submit" class="btn btn-primary">Enviar Código por E-mail</button><br><br>
</form>

{% if email %}
    <form id="verificarCodigoForm" action="/verificar_codigo" method="post">
        <input type="hidden" name="email" value="{{ email }}">
        <label for="codigoRecuperacao">Código de Recuperação:</label>
        <input type="text" id="codigoRecuperacao" name="codigo_recuperacao" required class="form-control"><br>
        <button type="submit" class="btn btn-primary">Verificar Código</button>
    </form>
{% endif %}
</div>
{% endblock %}
